@import '../tokens/support.css';
@import '../tokens/text.css';
@import '../tokens/background.css';
@import '../tokens/typography.css';
@import '../tokens/radius.css';
@import '../tokens/spacing.css';

.ds-banner {
    display: flex;
    align-items: flex-start;
    gap: var(--space-m-8);
    border-radius: var(--radii-m-4);
    padding: var(--space-m-16) var(--space-m-24);
    font: var(--font-body-m-phat);
    box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.12);
    align-items: center;
    justify-content: center;
    gap: var(--space-m-12);
}

.ds-banner__content {
    flex: 1;
    display: flex;
    gap: var(--space-m-16);
}

.ds-banner__link {
    font: var(--font-body-m-phat);
    text-decoration: underline;
    display: inline-block;
    color: inherit;
}
.ds-banner__link:focus {
  outline: 2px solid var(--focus-default);
  outline-offset: 1px;
}

.ds-banner__close {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0
}

.ds-banner--strong .ds-banner__close {
    color: var(--icon-on-color);
}
.ds-banner--subtle .ds-banner__close {
    color: var(--icon-primary);
}

/* Status variants */
.ds-banner--info {
    background: var(--support-info-subtle);
    color: var(--support-info-strong);
}

.ds-banner--success {
    background: var(--support-success-subtle);
    color: var(--support-success-strong);
}

.ds-banner--warning {
    background: var(--support-warning-subtle);
    color: var(--support-warning-strong);
}

.ds-banner--error {
    background: var(--support-error-subtle);
    color: var(--support-error-strong);
}

/* Emphasis variants */
.ds-banner--strong.ds-banner--info {
    background: var(--support-info);
    color: var(--text-inverse);
}

.ds-banner--strong.ds-banner--success {
    background: var(--support-success);
    color: var(--text-inverse);
}

.ds-banner--strong.ds-banner--warning {
    background: var(--support-warning);
    color: var(--text-on-color-dark);
}

.ds-banner--strong.ds-banner--error {
    background: var(--support-error);
    color: var(--text-inverse);
}