@import '../tokens/colors.css';
@import '../tokens/typography.css';
@import '../tokens/spacing.css';
@import '../tokens/radius.css';
@import '../tokens/stroke.css';
@import '../tokens/size.css';
@import '../tokens/action.css';
@import '../tokens/text.css';

.ds-btn {
  font: var(--font-action-m);
  border-radius: var(--radii-none);
  border-width: var(--stroke-width-m);
  border-style: solid;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, border 0.2s;
  display: flex;
  align-items: center;
  gap:8px;
  height: var(--size-l-40);
  justify-content: center;
}
.ds-btn:focus {
  outline: 2px solid var(--focus-default);
  outline-offset: 1px;
}
:focus:not(:focus-visible) {
  outline: none;
}

.ds-btn--primary {
  background: var(--action-primary-rest);
  color: var(--text-inverse);
  border-color: var(--action-primary-rest);
}
.ds-btn--primary:hover {
  background: var(--action-primary-hover);
  border-color: var(--action-primary-hover);
}
.ds-btn--primary:active {
  background: var(--action-primary-active);
  border-color: var(--action-primary-active);
}

.ds-btn--secondary {
  background: transparent;
  color: var(--text-primary);
  border-color: var(--action-secondary-border);
}
.ds-btn--secondary:hover {
  background: var(--action-secondary-background-hover);
}
.ds-btn--secondary:active {
  background: var(--action-secondary-background-active);
}

.ds-btn--tertiary {
  background: transparent;
  color: var(--text-primary);
  border-color: transparent;
}
.ds-btn--tertiary:hover {
    background: var(--action-tertiary-background-hover);
}
.ds-btn--tertiary:active {
    background: var(--action-tertiary-background-active);
}

.ds-btn--on-color {
  background: transparent;
  color: var(--text-on-color-light);
  border-color: transparent;
}
.ds-btn--on-color:hover {
    background: var(--action-on-color-background-hover);
}
.ds-btn--on-color:active {
    background: var(--action-on-color-background-active);
}

.ds-btn--inverse {
  background: transparent;
  color: var(--text-inverse);
  border-color: transparent;
}
.ds-btn--inverse:hover {
    background: var(--action-inverse-background-hover);
}
.ds-btn--inverse:active {
    background: var(--action-inverse-background-active);
}

.ds-btn--primary-danger {
  background: var(--action-primary-danger-rest);
  color: var(--text-inverse);
  border-color: var(--action-primary-danger-rest);
}
.ds-btn--primary-danger:hover {
  background: var(--action-primary-danger-hover);
  border-color: var(--action-primary-danger-hover);
}
.ds-btn--primary-danger:active {
  background: var(--action-primary-danger-active);
  border-color: var(--action-primary-danger-active);
}

.ds-btn--secondary-danger {
  background: transparent;
  color: var(--support-error-strong);
  border-color: var(--action-secondary-danger-border);
}
.ds-btn--secondary-danger:hover {
  background: var(--action-secondary-danger-background-hover);
}
.ds-btn--secondary-danger:active {
  background: var(--action-secondary-danger-background-active);
}

.ds-btn--tertiary-danger {
  background: transparent;
  color: var(--support-error-strong);
  border-color: transparent;
}
.ds-btn--tertiary-danger:hover {
    background: var(--action-tertiary-danger-background-hover);
}
.ds-btn--tertiary-danger:active {
    background: var(--action-tertiary-danger-background-active);
}


.ds-btn--primary.ds-btn:disabled, .ds-btn--danger-primary.ds-btn:disabled {
  background: var(--action-disabled);
  color: var(--text-inverse);
  border-color: var(--action-disabled);
  cursor: not-allowed;
}

.ds-btn--secondary.ds-btn:disabled, .ds-btn--secondary-danger.ds-btn:disabled {
  color: var(--text-disabled);
  border-color: var(--action-disabled);
  cursor: not-allowed;
}
.ds-btn--secondary.ds-btn:hover:disabled, .ds-btn--secondary-danger:hover.ds-btn:disabled{
    background: transparent;
}

.ds-btn--tertiary.ds-btn:disabled, .ds-btn--tertiary-danger.ds-btn:disabled {
  color: var(--text-disabled);
  cursor: not-allowed;
}
.ds-btn--tertiary.ds-btn:disabled:hover, .ds-btn--tertiary-danger.ds-btn:disabled:hover{
    background: transparent;
}

.ds-btn--small {
  font-size: var(--font-action-m-size);
  padding: var(--space-none) var(--space-m-12);
  height: var(--size-m-24);
}
.ds-btn--small.ds-btn--icon{
  width: var(--size-m-24);
  padding:0;
}
.ds-btn--small svg{
    width: var(--size-m-16);
    height: var(--size-m-16);
}
.ds-btn--small .ds-btn--icon{
    width: var(--size-m-16);
    height: var(--size-m-16);
    padding:0;
}

.ds-btn--medium {
  font-size: var(--font-action-m-size);
  padding: var(--space-none) var(--space-m-16);
  height: var(--size-l-32);
}
.ds-btn--medium.ds-btn--icon{
  width: var(--size-m-32);
  padding:0;
}
.ds-btn--medium svg{
    width: var(--size-m-20);
    height: var(--size-m-20);
}
.ds-btn--large.ds-btn--icon{
    height: var(--size-l-32);
    padding:0;
}

.ds-btn--large {
  font-size: var(--font-action-l-size);
  padding: var(--space-none) var(--space-m-16);
  height: var(--size-l-40);
}
.ds-btn--large svg{
    width: var(--size-m-20);
    height: var(--size-m-20);
}
.ds-btn--large.ds-btn--icon{
    width: var(--size-l-40);
    height: var(--size-l-40);
    padding:0;
}

.ds-btn--icon{
    flex-shrink: 0;
}

