@import '../tokens/colors.css';
@import '../tokens/typography.css';

.ds-link {
  font-family: var(--font-family);
  font-size: var(--font-action-m-size);
  font-weight: var(--font-action-m-weight);
  line-height: var(--font-action-m-line-height);
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.2s;
}

.ds-link:focus {
  outline: 2px solid var(--focus-default);
  outline-offset: 1px;
}
:focus:not(:focus-visible) {
  outline: none;
}

.ds-link--default {
  color: var(--link-default-rest);
}
.ds-link--default:hover,
.ds-link--default.ds-link--hover {
  color: var(--link-default-hover);
}
.ds-link--default:active,
.ds-link--default.ds-link--active {
  color: var(--link-default-active);
}

.ds-link--subtle {
  color: var(--link-subtle-rest);
  text-decoration: none;
}
.ds-link--subtle:hover,
.ds-link--subtle.ds-link--hover {
  color: var(--link-subtle-hover);
  text-decoration: underline;
}
.ds-link--subtle:active,
.ds-link--subtle.ds-link--active {
  color: var(--link-subtle-active);
  text-decoration: underline;
}

.ds-link--danger {
  color: var(--link-danger-rest);
  text-decoration: none;
}
.ds-link--danger:hover,
.ds-link--danger.ds-link--hover {
  color: var(--link-danger-hover);
  text-decoration: underline;
}
.ds-link--danger:active,
.ds-link--danger.ds-link--active {
  color: var(--link-danger-active);
  text-decoration: underline;
}

.ds-link--onColor {
  text-decoration: none;
  color: var(--link-on-color-rest);
}
.ds-link--onColor:hover,
.ds-link--onColor.ds-link--hover {
  color: var(--link-on-color-hover);
  text-decoration: underline;
}
.ds-link--onColor:active,
.ds-link--onColor.ds-link--active {
  color: var(--link-on-color-active);
  text-decoration: underline;
}
