/* Color Tokens */
:root {
  /* Brand Colors */
  --color-brand-10: #dcede8ff;
  --color-brand-20: #b8dbd1ff;
  --color-brand-30: #95cabaff;
  --color-brand-40: #71b8a3ff;
  --color-brand-50: #4ba68bff;
  --color-brand-60: #40957cff;
  --color-brand-70: #37856eff;
  --color-brand-80: #2e745fff;
  --color-brand-90: #286452ff;
  --color-brand-100: #215344ff;

  /* Green Colors */
  --color-green-10: #e1faebff;
  --color-green-20: #c6f0d6ff;
  --color-green-30: #ace7c3ff;
  --color-green-40: #93dbafff;
  --color-green-50: #7ece9cff;
  --color-green-60: #65c58aff;
  --color-green-70: #52b678ff;
  --color-green-80: #48a06aff;
  --color-green-90: #3e895bff;
  --color-green-100: #234d33ff;

  /* Yellow Colors */
  --color-yellow-10: #faf2e1ff;
  --color-yellow-20: #f4e4c2ff;
  --color-yellow-30: #efd7a4ff;
  --color-yellow-40: #e9c985ff;
  --color-yellow-50: #e9be63ff;
  --color-yellow-60: #dfb04bff;
  --color-yellow-70: #ce9f3aff;
  --color-yellow-80: #c19027ff;
  --color-yellow-90: #a47b23ff;
  --color-yellow-100: #5d4614ff;

  /* Blue Colors */
  --color-blue-10: #eef4fdff;
  --color-blue-20: #cadefaff;
  --color-blue-30: #9abdf1ff;
  --color-blue-40: #5d96eaff;
  --color-blue-50: #3179e2ff;
  --color-blue-60: #175bd3ff;
  --color-blue-70: #1752baff;
  --color-blue-80: #1a4293ff;
  --color-blue-90: #103684ff;
  --color-blue-100: #042a76ff;

  /* Red Colors */
  --color-red-10: #fbe2dfff;
  --color-red-20: #f8c2beff;
  --color-red-30: #f7a29cff;
  --color-red-40: #f4827aff;
  --color-red-50: #f15e54ff;
  --color-red-60: #dd4a41ff;
  --color-red-70: #c94036ff;
  --color-red-80: #aa3a31ff;
  --color-red-90: #953832ff;
  --color-red-100: #5c221fff;

  /* Neutral Colors */
  --color-neutral-10: #f5f5f5ff;
  --color-neutral-20: #d9d9d9ff;
  --color-neutral-30: #bfbfbfff;
  --color-neutral-40: #a6a6a6ff;
  --color-neutral-50: #8c8c8cff;
  --color-neutral-60: #737373ff;
  --color-neutral-70: #595959ff;
  --color-neutral-80: #404040ff;
  --color-neutral-90: #262626ff;
  --color-neutral-100: #151515ff;
  --color-black: #000000ff;
  --color-white: #ffffffff;
}
