/* Color Tokens */
:root {
  /* Brand Colors */
  --color-brand-10: #e2e9e7ff;
  --color-brand-20: #b5c9c4ff;
  --color-brand-30: #84a69bff;
  --color-brand-40: #47796aff;
  --color-brand-50: #326a59ff;
  --color-brand-60: #2d5f50ff;
  --color-brand-70: #285547ff;
  --color-brand-80: #234a3eff;
  --color-brand-90: #19352dff;
  --color-brand-100: #142a24ff;

  /* Green Colors */
  --color-green-10: #E7F3EDff;
  --color-green-20: #C9E4D7ff;
  --color-green-30: #99CCB4ff;
  --color-green-40: #53A77Fff;
  --color-green-50: #11884Fff;
  --color-green-60: #0F7A47ff;
  --color-green-70: #0E6D3Fff;
  --color-green-80: #0C5F37ff;
  --color-green-90: #094428ff;
  --color-green-100: #052918ff;

  /* Yellow Colors */
  --color-yellow-10: #FDF6E6ff;
  --color-yellow-20: #FBE9C5ff;
  --color-yellow-30: #F9DB9Fff;
  --color-yellow-40: #F4BE52ff;
  --color-yellow-50: #EFA208ff;
  --color-yellow-60: #D79207ff;
  --color-yellow-70: #BF8206ff;
  --color-yellow-80: #886004ff;
  --color-yellow-90: #6C4903ff;
  --color-yellow-100: #483102ff;

  /* Blue Colors */
  --color-blue-10: #E9F2FEff;
  --color-blue-20: #BCD6FCff;
  --color-blue-30: #91BBFAff;
  --color-blue-40: #4992FEff;
  --color-blue-50: #0A65EBff;
  --color-blue-60: #0B52D0ff;
  --color-blue-70: #0B43A5ff;
  --color-blue-80: #08358Eff;
  --color-blue-90: #03266Cff;
  --color-blue-100: #001642ff;

  /* Red Colors */
  --color-red-10: #FDEBEAff;
  --color-red-20: #FBCBC6ff;
  --color-red-30: #F8A6A0ff;
  --color-red-40: #F3695Fff;
  --color-red-50: #DA3A2Fff;
  --color-red-60: #C4342Aff;
  --color-red-70: #AE2E26ff;
  --color-red-80: #992921ff;
  --color-red-90: #6D1D18ff;
  --color-red-100: #41110Eff;

  /* Neutral Colors */
  --color-neutral-10: #f5f5f5ff;
  --color-neutral-20: #d9d9d9ff;
  --color-neutral-30: #bfbfbfff;
  --color-neutral-40: #a6a6a6ff;
  --color-neutral-50: #8c8c8cff;
  --color-neutral-60: #737373ff;
  --color-neutral-70: #595959ff;
  --color-neutral-80: #404040ff;
  --color-neutral-90: #262626ff;
  --color-neutral-100: #151515ff;
  --color-black: #000000ff;
  --color-white: #ffffffff;
}
