/* Icon Tokens */

:root {
  --icon-primary: var(--color-neutral-black);
  --icon-secondary: var(--color-neutral-80);
  --icon-placeholder: var(--color-neutral-60);
  --icon-on-color-light: var(--color-neutral-white);
  --icon-on-color-dark: var(--color-neutral-black);
  --icon-inverse: var(--color-neutral-white);
  --icon-disabled: var(--color-neutral-30);
  --icon-brand: var(--color-brand-50);
}

[data-theme='dark'] {
  --icon-primary: var(--color-neutral-white);
  --icon-secondary: var(--color-neutral-20);
  --icon-placeholder: var(--color-neutral-40);
  --icon-on-color-light: var(--color-neutral-white);
  --icon-on-color-dark: var(--color-neutral-black);
  --icon-inverse: var(--color-neutral-black);
  --icon-disabled: var(--color-neutral-60);
  --icon-brand: var(--color-brand-50);
}