/* Semantic Support Tokens */
:root {
    --support-info: var(--color-blue-60);
    --support-error: var(--color-red-60);
    --support-warning: var(--color-yellow-60);
    --support-success: var(--color-green-60);
    --support-info-subtle: var(--color-blue-20);
    --support-success-subtle: var(--color-green-20);
    --support-warning-subtle: var(--color-yellow-20);
    --support-error-subtle: var(--color-red-20);
    --support-success-strong: var(--color-green-80);
    --support-warning-strong: var(--color-yellow-80);
    --support-error-strong: var(--color-red-80);
    --support-info-strong: var(--color-blue-80);
}